---
layout: page
title: Members
sidebar_link: true
sidebar_priority: 10
---


{% assign sorted_members = site.members | sort:'from' | reverse %}

<h2 class="members-type"> Current </h2>

<div class="members-list">

  {% for item in sorted_members %}
  {% unless item.visiting != null %}
  {% if item.to == null and item.description != 'Master student' %}
  
  <li>
    <h2><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>   
    {{ item.description }}
    {% if item.funding != null %}
    <p>
      Funding: {{ item.funding }}
    </p>
    {% endif %}
  </li>

  {% endif %}
  {% endunless %}
  {% endfor %}

</div>


<h2 class="members-type"> Visiting </h2>

<div class="members-list">

  {% for item in sorted_members %}

  {% unless item.visiting == null or item.description contains 'Master student' %}
  
  <li>
    <h2><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>
    {% if item.visiting != null %}
    <p>
      Visiting {{ item.position }}
    <p>
    {% else %}
    {{ item.description }}
    {% if item.funding != null %}
    <p>
      Funding: {{ item.funding }}
    </p>
    {% endif %}
    {% endif %}
  </li>

  {% endunless %}

  {% endfor %}

</div>



{% assign activeStudents = 0 %}
{% for item in sorted_members  %}
{% if item.to == null and item.description contains 'Master student' %}
{% assign activeStudents = activeStudents | plus: 1 %}
{% endif %}
{% endfor %}

{% if activeStudents != 0 %}

<h2 class="members-type"> Students </h2>

<div class="members-list">

  {% for item in sorted_members %}

  {% if item.to == null and item.description contains 'Master student' %}
  
  <li>
    <h2> {{ item.title }} </h2>
    {{ item.description }}
    {% if item.funding != null %}
    <p>
      Funding: {{ item.funding }}
    </p>
    {% endif %}
  </li>

  {% endif %}

  {% endfor %}

</div>

{% endif %}

<h2 class="members-type"> Former </h2>

<div class="members-list">
  {% for item in sorted_members %}

  {% unless item.to == null or item.description contains 'Master student' %}
  
  <li>
    <h2><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></h2>
    <p>
    {{ item.description }}
    {% if item.from != null %}
       from {{ item.from | date:'%B %Y' }} to {{ item.to | date:'%B %Y'}}
    {% endif %}
    {% if item.funding != null %}
    <br> Funding: {{ item.funding }}
    {% endif %}
    </p>
    <p class="message">
    {% if item.position != null %}
       {{ item.position }}
    {% endif %}
    {% if item.location != null %}
    <br>
    {{ item.location }}
    {% endif %}
    </p>
    
  </li>

  {% endunless %}

  {% endfor %}

</div>

<h2 class="members-type"> Former Students </h2>

<div class="members-list">
  {% for item in sorted_members %}

  {% if item.to != null and item.description contains 'Master student' %}
  
  <li>
    <h2> {{ item.title }} </h2>
    <p>
    {{ item.description }}
    {% if item.from != null %}
       from {{ item.from | date:'%B %Y' }} to {{ item.to | date:'%B %Y' }}
    {% endif %}
    {% if item.funding != null %}
    <br> Funding: {{ item.funding }}
    {% endif %}
    </p>
    
  </li>

  {% endif %}

  {% endfor %}

</div>

