body {    
    color: rgba(255,255,255,.75);
    background-color: $sidebar-bg-color;
    background-image: linear-gradient(
			      to bottom,
			      darken($sidebar-bg-color, 100%),
			      darken($sidebar-totob-color, 5%),
			      lighten($sidebar-totor-color, 10%)),url(../images/sdss_j1038_h.png),url(../images/gradmag_h.png),url(../images/background.png);    
    background-blend-mode: lighten;
    background-repeat: repeat-y, no-repeat, repeat-x, repeat;
    background-position: center, left top, left top, center;
    background-size: auto, auto 1.4*$margin-top, auto $margin-top, auto;    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
}



#sidebar {
    flex: 0 0 auto;
    padding: $sidebar-padding 3*$sidebar-padding;
    
    .site-title {
	font-weight: normal;
	font-size: $large-title-size;
	color: black;
	text-shadow: 0px 0px 5px white, 0px 0px 20px white, 0px 0px 30px white, 0px 0px 40px white, 0px 0px 50px white ;
	margin-top: 0;
	margin-bottom: $heading-spacing;
	a {
	    color: inherit;
	    &:hover {
		color: white;
		text-shadow: 0px 0px 5px black, 0px 0px 20px black,
		0px 0px 30px black, 0px 0px 40px black, 0px 0px 50px black ;
	    }
	}

	.back-arrow { margin-right: 0.0rem; }
    }
}


// Container is flexbox as well -- we want content div to stretch and fill


.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    max-height: $maximum-height;
    border-top-left-radius: $border-corner $border-corner;
    > .content {
	flex-grow: 1;
    }    
}

.content {    
    background: $body-bg;
    color: $body-color;
    padding: $section-spacing;
    border-top-left-radius: $border-corner $border-corner;
    border-top-right-radius: $border-corner $border-corner;
}

.banner {
    color: $red ;		  
    font-family: Helvetica, sans-serif;
//    font-variant: small-caps;
    font-weight: normal;
    font-size: $large-title-size;
    text-align: center;
    text-shadow: 2px 2px 1px grey;
    margin-bottom: $margin-bottom;
}

.diapositive {
    width: $diapositive-size;
    height: $diapositive-size;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    box-shadow: $diapositive-shadow;
    margin-top: 25px;
    margin-bottom: 25px;
}

.diapositive img {
    border: 1px solid grey;
    border-radius: 0px;
    background: black;
}


.polaroid {
    display: block;
    max-width: 0.5*$maximum-width;
    border: 1px solid grey;
    background-color: white;
    box-shadow: $diapositive-shadow;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.polaroid img {
    max-width:100%;
    background: white;
}

.polaroid .caption {
    font-size: 0.6rem;
    text-align: center;
    padding: 25px 25px;
}


.publication {
}


.publication table {
    max-width: 0.4*$maximum-width;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
    table-layout: fixed;
}

.publication th {
    width: 0.07*$maximum-width;
}


/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */



// Hide secondary nav content in sidebar
// Hide lead paragraph in sidebar
#sidebar {
    header ~ *, header ~ nav, p.lead {
	display: none;
    }
}

// Make header elements blend into sidebar / background

.container > header {
    color: white;
    margin: ($heading-spacing - $section-spacing)
		$section-spacing
		$section-spacing;
    h1, h2 {
	color: white;

	&:last-child {
	    margin-bottom: 0;
	}
    }
}

.banner {
    display: none;
}


/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.index #sidebar {

    // Center sidebar content
    text-align: center;

    // Bigger title
    .site-title {
	font-size: $large-title-size
    }

    // Show secondary nav content + lead
    header ~ *, p.lead {
	display: block;
    }

    header {
	~ nav {
	    display: flex;
	}
    }

    // Slightly more bottom padding to compensate for heading not match 100% of
    // line-height on top
    > *:last-child {
	margin-bottom: 0.0rem;
    }
}



/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
    body {
	flex-direction: row;
	height: 100vh;
	overflow: auto;
	> * { max-height: 100vh; overflow: auto; }
    }

    /* Undo mobile CSS */

    
    #sidebar, .index #sidebar {
	width: $sidebar-width;
	text-align: left;

	> *:last-child {
	    margin-bottom: 0;
	}
    }

    #sidebar {
	.site-title {
	    font-size: $large-title-size;

	    a { color: inherit; }
	    .back-arrow { display: none; }
	}

	p.lead, header ~ * {
	    display: block;
	}

	header ~ nav {
	    display: flex;
	}
    }

    .index #sidebar { margin-bottom: 0; }

    // Make entire container background white to contrast against sidebar
    .container {
	background: $body-bg;
	color: $body-color;
	padding: $section-spacing $section-spacing * 2;
	margin-top: $margin-top;
	height: 100vh;

	> header {
	    color: inherit;
	    margin: 0;
	    h1, h2 {
		color: inherit;

		&:last-child {
		    margin-bottom: $heading-spacing;
		}
	    }
	}
	
	> * {
	    max-width: $maximum-width;
	    padding: 0;
	}
    }
    .banner {
	display: inline;
    }

}



/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
    color: #fff;

    svg {
	fill: rgba(255, 255, 255, 0.85);
    }

    &:hover, &:focus, &.active {
	svg { fill: #fff; }
    }

    &:hover, &:focus {
		 text-decoration: underline;
		 &.icon {
		     text-decoration: none;
		 }
	     }

    &.active {
	font-weight: bold;
    }
}

#sidebar nav {
    display: flex;
}

#sidebar-nav-links {
    flex-flow: column nowrap;
}

#sidebar-icon-links {
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;

    @media (min-width: $large-breakpoint) {
	margin-left: -0.25em;
	justify-content: flex-start;
    }
}

#sidebar nav > * {
    display: block;
    line-height: 1.75;
}

#sidebar nav > .icon {
    font-size: 1.5rem;
    display: inline-block;
    margin: 0 0.25em;
}


/* -----------------------------------------------------------
  Sticky sidebar

  Set $sidebar-stick variable to affix sidebar contents to the
  bottom of the sidebar in tablets and up.
----------------------------------------------------------- */

@if $sidebar-sticky {
    @media (min-width: $large-breakpoint) {
	body {
	    align-items: flex-end;
	}
    }
}


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
    @media (min-width: $large-breakpoint) {
	.container {
	    order: -1;
	}
    }
}
